* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Open Sans'; */
    font-family: 'Poppins';
}

.container {
    margin: 0 auto;
    max-width: 1120px;
}

.nav-bar,
.nav-menu {
    display: flex;
    flex-wrap: wrap;
}

.nav-menu {
    margin-left: auto;

}

.nav-menu .nav-list {
    list-style: none;
    margin: 10px;
}

.nav-menu .nav-list a {
    text-decoration: none;
    display: block;
    padding: 5px;
    font-size: 18px;
    text-transform: capitalize;
    /* applying text gradient */
    background: -webkit-linear-gradient(#0c0c0c, #050505); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card {
    display: flex;
    flex-wrap: wrap;
    /* border:1px solid #050505; */
    /* flex-direction: ; */
    /* padding: 15px; */
    gap: 2px;
}

.card .card-content:nth-child(even){
    background-color: rgba(0, 255, 255, 0.185);
}

.card .card-content:nth-child(odd){
    background-color: rgba(153, 205, 50, 0.272);
}

.card-content:hover{
    /* box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%); */
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 11%);
}

.card-content{
    flex: 1 0 32%;
     /* width: 200px;
    height: 200px;  */
    height: max-content;
    /* margin-left:5px; */
    /* border:1px solid red; */
    padding: 15px;
}
.card .card-content:last-child{
    /* flex-grow: 0; */
}
.adress {
    display: flex;
    flex-direction: column;
}

.material-symbols-outlined {
    font-size: 3em;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.baseline{
    background-color: blueviolet;
    border-radius: 3px;
    margin-bottom: 5px;
}

.footer-class{
    height: 20px;
}

.error_message{
    width: 100px;
    margin: 0 auto;
    color: red;
}

.prodimage{
    height: 100px;
    width: 100px;
}

